@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.gradient-clr{
    background: linear-gradient(to top,#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.btn{
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);  
    color: white;  
    padding: 12px 18px;
    border-radius: 10000px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(245deg,#F7E93F,#FB09B4,#9100F8);  
    font-size: large;
}

/* common class */

header{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

header nav h1{
    color: white;
    font-size: 38px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: white;
}

header nav .menu{
    display: none;
}
/* nav section end */

/* banner section start */

/* header #banner .bnr */

header #banner{
    max-width: 1600px;
    /* width: 100%; */
    height: 760px;
    background-image: url(../images/hero-bg.png);
    background-position: center;
    background-size: 100% 100%;
    padding-top: 10px;
    border-top: 1px solid #412567;
}

header #banner .bnr-content .crcl{
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px; 
    height: 350px;
    margin: 101px auto 0;
    /* background-size: 100% 100%; */
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
}

header #banner .bnr-content{
    text-align: center;
}

header #banner .bnr-content .crcl .new{
    background-color: #00FF88;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    color: #1A0B2E;
    width: 75px;
    position: absolute;
    top:1px;
    right: 50px;
}

header #banner .bnr-content h1{
    margin: 40px 0 8px;
    font-size: 60px;
    color: white;
    font-weight: 800;
}

header #banner .bnr-content p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.801);
    margin-bottom: 24px;
}

header #banner .bnr-content .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header #banner .bnr-content .button-div .btn1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header #banner .bnr-content .button-div .btn2{
    font-size: 16px;
    padding: 12px 18px;
    border-radius: 10000px;
    border-color: #00FF88;
    color: #00FF88;
    background-color: transparent;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* banner section end */
/* header section end */

/* main section start */

main{
    max-width: 1600px;
    margin: 0 auto;
}

main #about{
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}

main #about .about-txt-div{
    text-align: center;
}

main #about .about-txt-div h2{
        font-size: 48px;
        font-weight: bold;
        color: white;
        /* text-align: center; */
        margin-bottom: 16px;
    }

main #about .about-txt-div p{
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.705);
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

main #about .about-grid-div{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

main #about .about-grid-div .mini-div{
    text-align: center;
}

main #about .about-grid-div .mini-div h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

main #about .about-grid-div .mini-div p{
 font-size: 18px;   
 line-height: 20px;
 color: rgba(255, 255, 255, 0.63);
 margin-top: 16px;
}
/* about section end */

/* techwave section start */
main #techwave{
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

main #techwave h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

main #techwave .techwave-grid-div{
    display: grid;
    gap:30px;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 240px 240px 274px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive rich";
}

main #techwave .techwave-grid-div .audio{
    grid-area: audio;
    padding: 107px 40px;
}

main #techwave .techwave-grid-div .mobile{
    grid-area: mobile;
    padding: 40px;
}

main #techwave .techwave-grid-div .global{
    grid-area: global;
    padding: 40px;
}

main #techwave .techwave-grid-div .exclusive{
    grid-area: exclusive;
    padding: 40px;
}

main #techwave .techwave-grid-div .rich{
    grid-area: rich;
    padding: 40px;
}

main #techwave .techwave-grid-div .mew{
    border-radius: 40px;
    background-color: #35116541 ;
    text-align: left;
}

main #techwave .techwave-grid-div .mew h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 16px 0;
}

main #techwave .techwave-grid-div .mew p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.603);
}

/* techwave section end */

/* featured section start */
main #featured{
        padding: 120px 200px;
        background-color: #1A0B2E;
    }

main #featured h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

main #featured .episode{
    display: grid;
    grid-template-columns: repeat(3,380px);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main #featured .episode .card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;
    background-color: #250D44;
}

main #featured .episode .card .episode-txt{
    padding: 24px;
}

main #featured .episode .card .episode-txt h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}

main #featured .episode .card .episode-txt p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.603);
    margin-bottom: 12px;
}

main #featured .episode .card .episode-txt h5{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: #00FF88;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
/* featured section end */

/* host section start */
main #host{
    padding: 0 200px 120px;
    background-color: #1A0B2E;
}

main #host .host-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

main #host .host-content h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

main #host .host-content .alex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 40px;
    background-color: #35116554;
    border-radius: 40px;
}

main #host .host-content .alex .alex-data{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
}

main #host .host-content .alex .alex-data h3{
    font-size: 32px;
    color: white;
    font-weight: bold;
}

main #host .host-content .alex .alex-data p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.527);
}

main #host .host-content .alex .alex-data .alex-links{
    display: flex;
    align-items: center;
    gap: 8px;
}

main #host .host-content .alex .alex-data .alex-links a{
    padding: 9px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/* host section end */

/* main section end */

/* footer section start */
footer{
    max-width: 1600px;
    width: 100%;
    height: 412px;
    margin: 0 auto;
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-size: 100% 100%;
    /* padding: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer #footer-content{
    /* margin: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 25px;
}

footer #footer-content h1{
    font-size: 85px;
    color: white;
    line-height: 0.9;
}

footer #footer-content .ftr-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}

footer #footer-content .ftr-links a{
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.568);
}

footer #footer-content p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.575);

}
/* footer section end */













/* responsive design part */
/* responsive design for mobile(small device) */
@media screen and (max-width:576px) {
    /* header seciton start */
    header{
        width: 100%;
        margin: 0 auto;
        max-width: 576px;
    }

    /* nav section start  */
    header nav{
        padding: 20px;
    }

    header nav h1{
        font-size: 28px;
    }

    header nav ul,button{
        display: none;
    }

    header nav .menu{
        display: block;
    }
    /* nav section end */

    /* banner section start*/
    header #banner{
        width: 100%;
        /* max-width: 576px; */
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-bottom: 40px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header #banner .bnr-content{
        width: 100%;
        /* border: #F7E93F 2px solid; */
        /* margin: 0 auto; */
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap:0px; */
    }

    header #banner .bnr-content .crcl{
        background-size: contain;
        width: 180px;
        height: 180px;
        margin: 60px auto 0;
        /* border: #00FF88 1px solid; */
    }

    header #banner .bnr-content .crcl img{
        width: 29%;
    }

    header #banner .bnr-content h1{
        font-size: 32px;
        margin: 24px 0 12px;
        /* margin: 30x 15px 10px; */
    }

    header #banner .bnr-content p{
        font-size: 14px;
        margin-bottom: 30px;
        max-width: 360px;
    }

    header #banner .bnr-content .crcl .new{
        width: 50px;
        padding: 4px 8px;
        font-size: 12px;
        right: 10px;
        top: 10px;
    }

    header #banner .bnr-content .button-div .btn1,
    header #banner .bnr-content .button-div .btn2{
        font-size: 12px;
        padding: 10px 14px;
        margin-bottom: 30px;
    }
    /* banner section end 😢bohut kosto😥hoye geche.. hudai.. maje maje kaj korena..😫*/

    /* about section start */
    /* main{
    max-width: 576px;
    width: 100%;
    } */

    main #about{
    padding: 25px 0px 60px;
    width: 100%;
    max-width: 576px;
    }

    main #about .about-txt-div{
        width: 90%;
        margin: 0 auto;
    }

    main #about .about-txt-div h2{
        font-size: 32px;
    }

    main #about .about-txt-div p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 40px;
    }

    main #about .about-grid-div{
        grid-template-columns: 180px 180px;
        margin: 0 auto;
        justify-content: center;
        /* gap: 30px; */
    }

    main #about .about-grid-div .mini-div h1{
        font-size: 30px;
        margin: 40px 0 5px;
    }

    main #about .about-grid-div .mini-div p{
        font-size: 14px;
    }

    /* about section end */

    /* techwave section start */
    main #techwave{
        padding: 25px 10px;
    }

    main #techwave h1{
        font-size: 32px;
    }

    main #techwave .techwave-grid-div{
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 24px;
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "exclusive"
        "rich";
    }

    main #techwave .techwave-grid-div .audio{
        padding: 40px;
    }
    /* techwave section end */

    /* featured section start */
    main #featured{
        padding: 120px 200px;
        background-color: #1A0B2E;
    }

    main #featured{
        padding: 35px 2px;
        max-width: 576px;
        width: 100%;
    }

    main #featured h1{
        font-size: 25px;
        margin-bottom: 18px;
    }

    main #featured .episode{
        grid-template-columns: 300px;
        grid-template-rows: auto;
        justify-items: center;
        gap:16px;
        /* border: 1px yellow solid; */
    }

    main #featured .episode .card iframe{
        height: 170px;
    }

    main #featured .episode .card .episode-txt{
    padding: 16px;
    }

    main #featured .episode .card .episode-txt h3{
        margin-bottom: 8px;
        font-size: 16px;
    }

    main #featured .episode .card .episode-txt p{
        margin-bottom: 8px;
        font-size: 12px;
    }

    main #featured .episode .card .episode-txt h5{
        font-size: small;
    }

    /* featured section end */

    /* host section start */

    main #host{
        padding: 0 20px 40px;
    }

    main #host .host-content{
        gap:24px;
    }

    main #host .host-content h1{
        font-size: 32px;
        margin-top: 30px;
    }

    main #host .host-content .alex{
        gap: 16px;
        padding: 24px;
    }

    main #host .host-content .alex{
        flex-direction: column;
    }

    main #host .host-content .alex .alex-data{
        align-items: center;
        gap: 16px;
    }

    main #host .host-content .alex .alex-data p{
        text-align: center;
    }
    /* host section end */

    /* footer section start */
    footer{
        /* max-width: 576px;
        width: 100%; */
        height: 248px;
        /* background-size: cover; */
        /* background-repeat: no-repeat;  */
        /* background-size: 100% 100%; */
    }

    footer #footer-content{
        /* width: 70%; */
        gap: 24px;
        padding-bottom: 3px;
    }

    footer #footer-content h1{
        font-size: 40px;
    }

    footer #footer-content .ftr-links{
        width: 70%;
        gap:20px;
    }

    footer #footer-content .ftr-links a{
        font-size: 12px;
    }

    footer #footer-content p{
        font-size: 14px;
    }
    /* footer section end */

}