@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.gradient-clr{
    background: linear-gradient(to top,#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.btn{
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);  
    color: white;  
    padding: 12px 18px;
    border-radius: 10000px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
}

/* common class */

header{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
    border: 1px solid #412567;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 200px;
}

header nav h1{
    color: white;
    font-size: 38px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: white;
}

header nav .menu{
    display: none;
}
/* nav section end */













/* responsive design part */
/* responsive design for mobile(small device) */
@media screen and (max-width:576px) {
    /* header seciton start */
    
    /* nav section start  */
    header nav{
        margin: 20px;
    }

    header nav h1{
        font-size: 28px;
    }

    header nav ul,button{
        display: none;
    }

    header nav .menu{
        display: block;
    }
    /* nav section end */
}